.homepage {

    .homepage-tnail {
        padding: 10rem 4rem;
        background: url('https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?cs=srgb&dl=pexels-soumil-kumar-735911.jpg&fm=jpg');
        background-size: cover;
        background-position: top;

        .hp-tnail-center {
            display: flex;
            align-items: center;

            & img {
                height: 278px
            }

            .hp-tnail-c-text {
                margin-left: 1rem;

                & p {
                    color: #fff;
                    font-size: 58px;
                    font-weight: 900;
                }
            }
        }
    }
}


.popular-blog {
    border-bottom: 1px solid #00000050;
    
    .popular-blog-show {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
        gap: 1rem;
        justify-items: center;
    }
}

.news-reviews {
    border-bottom: 1px solid #00000050;

    .wrapper {
        display: grid;
        grid-template-columns: 70% 30%;

        .news-show {
            border-right: 1px solid #00000050;
            padding-right: 1rem;

            padding-bottom: 2rem;
        }
    
        .video-show {
            padding-left: 1rem;
        }
    }
}

@media (max-width: 1199px) {

    .hp-tnail-center img {
        height: 216px!important;
    }
    .hp-tnail-c-text p {
        font-size: 42px!important;
    }
}

@media (max-width: 768px) {

    .news-reviews {
        
        .wrapper {
            display: block;
            
            .news-show {
                border-right: 0;
                margin-bottom: 2rem;
            }
        }
    }

    .hp-tnail-center {
        display: flex;
        flex-direction: column;

        & img {
            height: 186px!important;
        }

        .hp-tnail-c-text p {    
            font-size: 24px!important;
        }
    }
}