.homepage {

    .homepage-tnail {
        padding: 10rem 4rem;
        background: url('https://images.pexels.com/photos/735911/pexels-photo-735911.jpeg?cs=srgb&dl=pexels-soumil-kumar-735911.jpg&fm=jpg');
        background-size: cover;
        background-position: top;

        .hp-tnail-center {
            display: flex;
            align-items: center;

            & img {
                height: 278px
            }

            .hp-tnail-c-text {
                margin-left: 1rem;

                & p {
                    color: #fff;
                    font-size: 58px;
                    font-weight: 900;
                }
            }
        }
    }
}


.popular-blog {
    border-bottom: 1px solid #ffffff50;
    background: #0f0f0f;
    
    .popular-blog-show {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
        gap: 1rem;
        justify-items: center;
    }
}

.news-reviews {
    border-bottom: 1px solid #ffffff50;
    background: #0f0f0f;

    .wrapper {
        display: grid;
        grid-template-columns: 70% 30%;

        .news-show {
            border-right: 1px solid #ffffff50;
            padding-right: 1rem;

            padding-bottom: 2rem;
        }
    
        .review-show {
            padding-left: 1rem;

            .review-show-in {
                padding-top: 1rem;
            }
        }
    }
}

.videos {
    background: #0f0f0f;
    border-bottom: 1px solid #ffffff50;

    .vdos-title {
        display: flex;
        justify-content: space-between;

        & a {
            color: #0071ce;
            &:hover {
                color: #008cff;
            }
        }
    }
    
    .vdos-show {
        overflow-x: scroll;
    }

    .vdos-show-in {
        width: fit-content;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        gap: 1rem;
        display: flex;
    }

    .wrapper {
        .wrapper {
            padding-bottom: 0;
        }
    }
}

.lastest-blog {
    background: #0f0f0f;
    border-bottom: 1px solid #ffffff50;

    .news-show {
        padding: 1rem 8rem;
    }
}

@media (max-width: 1199px) {

    .homepage-tnail {
        padding-bottom: 7rem!important;
    }
    .hp-tnail-center img {
        height: 216px!important;
    }
    .hp-tnail-c-text p {
        font-size: 42px!important;
    }

    .lastest-blog {
        .news-show {
            padding: 1rem 0;
        }
    }
}

@media (max-width: 768px) {

    .news-reviews {
        
        .wrapper {
            display: block;
            
            .news-show {
                border-right: 0;
                margin-bottom: 2rem;
            }

            .review-show {
                padding-left: 0;
            }
        }
    }

    .homepage-tnail {
        padding-bottom: 5rem!important;
    }

    .hp-tnail-center {
        display: flex;
        flex-direction: column;

        & img {
            height: 186px!important;
        }

        .hp-tnail-c-text p {    
            font-size: 24px!important;
        }
    }
}