/* COLOR PALLETE
#0f0f0f, #e0e0ce, #0071ce, #ffc220, #041e42 
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    list-style: none;
}



header {
    background: #158d43;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 1rem;
    color: #fff;

    & h1 {
        cursor: pointer;
    }

    .navlink {
        & ul {
            display: flex;
            & li {
                margin: 0 1rem;
                font-weight: bold;
                & a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: #ffc220;
                    }
                }
            }
        }
    }


    .active-group-left {
        display: flex;

        .menu-btn {
            height: 34px;
            padding: 0;
            display: none;

            & ion-icon {
                font-size: 34px;
            }
        }
    }

    .active-group {
        display: flex;
        align-items: center;
        justify-content: right;

        & ion-icon {
            font-size: 24px;
            transform: translateY(1px);
        }
    
        & form {
            height: 34px;
            background: #fff;
            display: flex;
            margin-right: 1rem;

            & input[type="search"] {
                height: 100%;
                outline: none;
                border: none;
                padding-left: 0.5rem;
            }

            & button {
                height: 100%;
                width: 34px;
                background: #fff;
                border: none;

                
                &:hover {
                    cursor: pointer;
                    background: #fff;
                }

                & ion-icon {
                    color: #0f0f0f;
                }
            }
        }

        .support-btn {
            height: 34px;
            outline: none;
            border: 1px solid #0183ec;
            background: #0071ce;
            padding: 0 1.5rem;
            margin-right: 0.5rem;
            &:hover {
                background: #005aa3;
                cursor: pointer;
            }

            & h2 {
                font-size: 16px;
                font-weight: bold;
                color: #fff;
                text-transform: uppercase;
            }
        }

        & ul {
            display: flex;

            & li {
                margin-right: 0.75rem;

                &:hover {
                    cursor: pointer;
                    color: #ffc220
                }
            }
        }
    }
}

@media (max-width: 768px) {
    header {
        .active-group {
            & form {
                display: none;
            }
            & ul {
                display: none;
            }
        }
    }
}

@media (max-width: 1199px) {
    .navlink {
        display: none;
        visibility: hidden;
    }

    .active-group {
        display: flex;
        flex-direction: column-reverse;

        & ul {
            justify-content: right;
            margin-bottom: 0.5rem;
            width: 100%;

            & li {
                margin-right: 0px!important;
                margin-left: 0.75rem;
            }
        }

        .menu-btn {
            display: block!important;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .support-btn {
        margin-right: 0px;
    }
}